<div class="modal" id="contact-modal">
  <div class="modal__content">
    <form class="form" action="" method="post">
      <div class="form__group form__group--md">
        <input type="text" placeholder="Ваше ім'я" class="form__control" />
        <span class="form__line"></span>
      </div>
      <div class="form__group form__group--md">
        <input type="email" placeholder="Ваш email" class="form__control" />
        <span class="form__line"></span>
      </div>
      <div class="form__group form__group--md">
        <textarea
          class="form__control form__control--textarea"
          placeholder="Текст повідомлення"
          name=""
        ></textarea>
        <span class="form__line"></span>
      </div>
      <div class="form__footer">
        <div class="form__group form__group--md">
          <button class="btn btn--blue btn--rounded btn--sm">Відправити</button>
        </div>
      </div>
    </form>
    <ul class="modal__footer">
      <li>Email: <a href="mailto:">Yurareg2010@gmail.com</a></li>
      <li>
        Tel:
        <a href="tel:+380939984784">+38-093-998-47-84</a>
      </li>
      <li><a href="tel:+485751989240">+48-575-198-240</a></li>
    </ul>
    <button class="modal__close" type="button">
      <img src="assets/images/close.svg" alt="" />
    </button>
  </div>
</div>
